<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <footer>
      <div class="footer">
        <p class="foot">Copyright © 2021, All About My Content Publisher</p>
      </div>
    </footer>
  </body>
</html>
